# URL kết nối Database PostgreSQL (Bạn có thể dùng Neon.tech, Supabase, hoặc Local)
DATABASE_URL="postgresql://username:password@localhost:5432/ecommerce?schema=public"

# Chuỗi bí mật để mã hóa JWT Token (Đăng nhập/Đăng ký)
JWT_SECRET="super-secret-key-ecommerce"

# Cổng chạy Backend (Mặc định: 3000)
PORT=3000
